---
title: Start page
cats:
- name: "Politics and Society"
  description: "Red-hot political topics and discussions about our society in the audio live stream or the archive. Listen to people who have a say."
- name: "Sciences"
  description: "Scientific lectures, panels and conferences in our virtual auditorium – listen live or download as podcast."
- name: "Arts and Culture"
  description: "News from the cultural scene, streamed live and made available in the audio archive. We let artists, critics and curators speak out."
- name: "Technology"
  description: "Not only for geeks: technological progress concerns all of us. Listen to live streams or download the podcasts."
- name: "Media"
  description: "The media world is changing rapidly. Lectures and discussions about traditional media and digitalisation in the audio archive and in live streams."
- name: "Business"
  description: "Business conferences and company events offer interesting insights into economic developments and useful career advice."
---
{{!-- ---------- --}}
{{!-- top section --}}
<section id="claim" class="dark">
	<div class="row">
		<div class="container">
			<h1>Home To the Spoken Word.</h1>
			<a href="#"><button href="#">Publish</button></a>
			<a href="#"><button>Listen</button></a>
		</div>
	</div>
</section>
{{!-- ---------- --}}
{{!-- listen now --}}
<section id="listen-now" class="light">
	<div class="row">
		<div class="container">
			<h1>Listen Now</h1>
			<p class="lead">In the Voice Republic Archive you can listen to professional audio content from different areas: politics, culture, sciences and economy.</p>
		</div>
		<div id="talk-collection">
			{{#withFirst thumbs 6}}
			{{>landing-tile}}
			{{/withFirst}}
		</div>
	</div>
	<div class="row">
		<a href="#"><button>More Talks  &raquo;</button></a>
	</div>
</section>
{{!-- ---------- --}}
{{!-- coming up  --}}
<section id="coming-up" class="blue">
	<div class="row">
		<div class="container">
			<h1>Coming Up Live</h1>
		</div>
		<div id="talk-collection">
			{{#withFirst thumbs 6}}
			{{>landing-tile}}
			{{/withFirst}}
		</div>
	</div>
	<div class="row">
		<a href="#"><button>More Talks &raquo;</button></a>
	</div>
</section>
{{!-- ---------- --}}
{{!-- categories --}}
<section id="categories" class="dark">
	<div class="row">
		<div class="container">
			<h1>Categories</h1>
		</div>
		<div id="talk-collection" data-equalizer>
			{{#each  cats}}
			<div class="category" data-equalizer-watch>
				<a href="explore.html">
					<h3>{{this.name}}</h3>
					<p class="lead">{{this.description}}</p>
				</a>
				<hr>
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{!-- ---------- --}}
{{!-- publishers  --}}
<section id="publishers" class="white">
	<div class="row">
		<div class="container">
			<h1>These publishers are already on Voice Republic:</h1>
		</div>
	</div>
	<div class="row">
		<div id="publisher-collection" data-equalizer>
			{{#each  publishers}}
			<div class="publisher" data-equalizer-watch>
				<a href="profile.html">
					<img src="img/publishers/{{img}}.png" alt="">
					<h4>{{name}}</h4>
					<p class="lead">{{desc}}</p>
				</a>
				<hr>
			</div>
			{{/each}}
		</div>
	</div>
	<div class="row clearfix">
		<a href="explore.html"><button>More Publishers &raquo;</button></a>
	</div>
</section>
{{!-- ---------- --}}
{{!-- cta  --}}
<section id="cta" class="turquoise">
	<div class="row">
		<div class="container">
			<h2>Are you planning a conference or event?</h2>
			<a href="join.html"><button>Start Now</button></a><br>
			<a href="contact.html">or Contact us</a>
			<!-- <a href="contact.html"><button>Contact Us</button></a> -->
		</div>
	</div>
</section>
