---
title: Start

---
{{!-- ---------- --}}
{{!-- top section --}}
<section id="claim" class="dark">
	<div class="row">
				<header><h1>Home To the Spoken Word</h1></header>

		<div class="container">
		{{!-- <header><img src="img/logo/logotype-blue.svg" alt="Voice Republic" title="Voice Republic" width="250"></header> --}}

			<p class="lead">Take part in the most up-to-date conversations happening today. Exclusive lectures and discussions with thought-leaders in the fields of <a href="explore.html">Politics &amp; Society</a>, <a href="explore.html">Sciences</a>, <a href="explore.html">Arts &amp; Culture</a>, <a href="explore.html">Technology</a>, <a href="explore.html">Media</a>, and <a href="explore.html">Business</a>. </p>
			<div class="claim-cta-half">
			
				<a href="publish.html"><button href="#"><div class="icon megaphone"></div> Publish</button></a>
			</div>
<div class="claim-cta-half">
			
			<a href="listen.html"><button><div class="icon headphones"></div> Listen</button></a>
			</div>
		</div>
	</div>
	{{!-- <a href="#listen-now"><div class="icon down-arrow animated infinite slideInDown"></div></a> --}}
</section>
{{!-- ---------- --}}
{{!-- listen now --}}
<section id="listen-now" class="light">
	<div class="row">
		<h2>Listen Now</h2>
		<div id="talk-teasers">
			{{#withLast thumbs 4}}
			{{>landing-tile}}
			{{/withLast}}
		</div>
		<div class="listen-interstitial">
			<p class="lead">In the Voice Republic Archive you can listen to professional audio content from different areas:</p>
			

			<div class="category-buttons">
			<form action="explore.html" method="post">
				{{#each  cats}}
				<a class="button" href="explore.html?active={{icon}}"><div class="svg-icon"><svg><use xlink:href="#icon-{{icon}}"></use></svg></div>{{name}}</a>
				{{/each}}
				</form>
			</div>

		</div>
		<div id="talk-collection">
			{{#withFirst thumbs 8}}
			{{>landing-tile}}
			{{/withFirst}}
		</div>
	</div>
	<div class="row">
		<a href="explore.html"><button>More Talks  &raquo;</button></a>
	</div>
</section>
{{!-- ---------- --}}
{{!-- coming up  --}}
<section id="coming-up" class="blue">
	<div class="row">
		<div class="container">
			<h2>Coming Up Live</h2>
		</div>
		<div id="talk-collection">
			{{#withLast thumbs 4}}
			{{>landing-upcoming-tile}}
			{{/withLast}}
		</div>
	</div>
	<div class="row">
		<a href="#"><button>More &raquo;</button></a>
	</div>
</section>
{{!-- ---------- --}}
{{!-- categories --}}
<section id="categories" class="yellow">
	<div class="row">
		<div class="container">
			<h2>Categories</h2>
		</div>
		<div id="talk-collection" data-equalizer>
			{{#each  cats}}
			<div class="category" data-equalizer-watch>
				<a href="explore.html">
					<div class="icon {{icon}}"></div>
					<h3>{{this.name}}</h3>
					<p class="lead">{{this.description}}</p>
				</a>
				{{!-- <hr> --}}
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{!-- ---------- --}}
{{!-- publishers  --}}
<section id="publishers" class="white">
	<div class="row">
		<div class="container">
			<h2>Some of the distinguished Publishers<br>on Voice Republic:</h2>
		</div>
	</div>
	<div class="row">
		<div id="publisher-collection" data-equalizer>
			{{#each  publishers}}
			<div class="publisher" data-equalizer-watch>
				<a href="profile.html">
					<img src="img/publishers/{{img}}.png" alt="">
					<h4>{{name}}</h4>
					<p class="lead">{{desc}}</p>
				</a>
				{{!-- <hr> --}}
			</div>
			{{/each}}
		</div>
	</div>
	<div class="row clearfix">
		<a href="explore.html"><button>More Publishers &raquo;</button></a>
	</div>
</section>
{{!-- ---------- --}}
{{!-- cta  --}}
<section id="cta" class="turquoise">
	<div class="row">
		<div class="container">
			<h1>Are you planning a conference or event?</h1>
			<a href="join.html"><button>Start Now</button></a><br>
			<a href="contact.html">or Contact us</a>
			<!-- <a href="contact.html"><button>Contact Us</button></a> -->
		</div>
	</div>
</section>
