---
component: landing-tile
---
<div class="talk-card medium-4 large-3 columns">
		<div class="talk-card-inside">
			<h5 class="title">{{title}}</h5>
			<p class="meta">
				<span class="running-time">46:23</span>
				<span class="play-count">2.2k Plays</span>
			</p>
			<div class="image-box">
				<img src="img/thumbs-cropped/thumb{{myNum}}.jpg" alt="">
				<div class="hover-info">
					<p class="speaker">Sprecher/In: <a href="profile.html">Patrick Frank</a></p>
				</div>
			</div>
			<div class="bottom-info">
				<div class="svg-icon"><svg><use xlink:href="#icon-{{topic}}"></use></svg></div>
				<div class="info-right">
					<p class="date">Published <strong>{{time-ago}}</strong> by</p>
					<a href="profile.html"><p class="publisher">{{truncate publisher 27 "..."}}</p></a>
				</div>
			</div>
		</div>
</div>