---
component: profile-row
---
<div class="profile-row">
	<div class="profile-row-inside">
	<a href="talk3.html"><img class="left" src="img/thumbs-cropped/thumb{{myNum}}.jpg" alt=""></a>
	<a href="talk3.html"><span class="profile-title left">{{title}}</span></a>
		{{!-- <span class="profile-publisher">{{publisher}}</span> --}}
		<span class="date right"> &nbsp;{{plays}} plays</span> 
		<span class="date right"> {{time-ago}} ago • </span>
		
	</div>
</div>