---
component: thumbnail
---
<div class="thumbnail aniamted slideInUp">
	<div class="thumbnail-inside">
		<div class="thumb-image-holder hide-for-small-only">
			<div class="thumb-image" data-bg="thumb{{myNum}}"></div>
			<div class="thumb-overlay">
				<!-- <div class="play-icon">
					PLAY
			</div> -->
			</div>
		</div>
		<div class="thumb-right right">
			<div class="thumb-info">
				<h1 class="thumb-title">{{truncate title 57 "..."}}</h1>
				<p class="thumb-meta"><span class="thumb-publisher">{{ publisher }}</span><span class="thumb-timeago">{{ time-ago }} ago</span></p>
				<p class="thumb-logline">{{ truncate logline 120 "..." }}</p>
			</div>
			<div class="thumb-actions">
				<div class="thumb-duration">{{ duration }} Min</div>
				<div class="thumb-plays">{{ plays }} Plays</div>
				<div class="thumb-listenlater"><span class="icon-uniE704"></span></div>

			</div>
		</div>
	</div>
</div>